<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bundle/app.css">
    <title>gav-gav.js</title>
</head>
<body>
    {% block content %}{% endblock %}
    <style>
        #toast {
            position: fixed;
            bottom: 20px;
            left: 20px;
            width: 200px;
        }
    </style>
    <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body" id="toastBody">
            This article hasn't written yet :(
        </div>
    </div>
    <script src="/js/bundle/app.js"></script>
</body>
</html>